.main_box {
    overflow:hidden;
    background: silver;
    height: 900px;
    width: auto;
}
#header {
    background: #1767a5;
    height: 10%;
    width: auto;
}
#nav {
    background: #104988;
    height: 10%;
    width: auto;
}
.box_to_box {

    display: flex;
    width: auto;
    height: 600px;
}
.main {
    background: #57a9ff;
    width: 70%;
    height: 600px;
}
.aside {
    background: #6e66ff;
    width: 30%;
    height: 600px;
}
#footer {
    background: #4be4ff;
    height: 10%;
    width: auto;
}
.margin {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}