* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_content {
    display: flex;
    align-items: center;
    background-color: #0C0537 ;
}

nav {
    display: flex;
    flex-direction: row;
}