.size {
    width: 200px;
    height: 200px;
}
.main_box {
    overflow: hidden;
    background: tomato;
    margin: 30px 0 30px;
    border: solid lightslategray;
    border-radius: 15px;
}
.box_1 {
    background: darkgoldenrod;
    width:auto;
    height:100px;
}
.box_to_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mmm  {
    background: #0b9b9b;
    width:70%

}
.sss {
    background: aliceblue;
    width:30%
}



.block_A {
    background: silver;
    width:auto;
}
.block_B {
    background: blue ;
    height: 200px;
    width: 100%;
}
.block_C {
    background:coral;
    height: 200px;
    width: 33.3333%;
}
.block_D {
    background:darkgoldenrod;
    height: 200px;
    width: 33.3333%;
}
.block_E {
    background:lime;
    height: 200px;
    width: 33.3333%;
}
.block_F {
    background:firebrick;
    height: 400px;
    width: 30%;
}
.block_G {
    background:gold;
    height: 200px;
    width: 33.3333%;
}



.block_H {
    background:hotpink;
    height: 400px;
    width: 30%;
}
.box4 {
    display: flex;
    flex-wrap: wrap;
    height:400px;
    width: 751px;
}
.box {
    display: flex;
    justify-content: flex-start;
    height: 400px;
    width: auto;
}
.block_B1 {
    background:blue;
    height: 200px;
    width: 33.3333%;
}
.block_F1 {
    background:firebrick;
    height: 200px;
    width: 33.3333%;
}
