body {
    background: #f6f6f6;
}

.main_page {

    border:  solid #0b9b9b;
    padding: 20px;
    margin-top: 100px;
    margin-left: 150px;
}

.content_box {
    background: #ffffff;

}

.header {
    border-bottom:  solid silver;

}

#box_list {
    border:  solid silver;
    height: 160px;
    width: 150px;
    background: azure;
}

#box {
    border: solid silver;
}
#qqq {

    background: azure;
}
.bottom {
    margin-left: 170px;
}






